---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout>
  <h2>Uh oh! We can't find the page you requested</h2>
  <p>Want to go back to the homepage? Click here: <a href="/">Homepage</a></p>
</PageLayout>
