---

interface Props {
    type: "note" | "warning";
    title?: string;
}

const { type, title } = Astro.props;


import '@assets/styles/admonition.scss';

---


<aside class={`admonition admonition--${type}`}>
    <h1 class="admonition__title">{title || type.charAt(0).toUpperCase() + type.slice(1)}</h1>
    <slot />
</aside>