<section class="footer">
  <p>
    Developed by <a href="https://openaq.org/">OpenAQ</a> . Are we missing an AQI?
    Did you spot a bug? <a href="https://github.com/openaq/aqi-hub"
      >Contribute on github</a
    >. Content licensed <a
      href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a
    >
  </p>
</section>
