---
import Logo from "@assets/svg/logo.svg";
---

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    padding: 1rem;
    z-index: 100;
    border-bottom: 1px solid #d4d8dc;

    @media (max-width: 800px) {
      margin-left: 20px;
    }

    h1 {
      margin-left: 230px;
      top: 0;
      font-size: calc(1.5rem + 2vw);

      @media (max-width: 800px) {
        font-size: 2.5rem;
        margin-left: 20px;
      }
    }
    a {
      @media (max-width: 800px) {
        display: none;
      }
    }
  }
</style>

<header>
  <a href="https://openaq.org" class="header-logo" aria-label="openaq logo">
    <Logo width="72" height="40" aria-label="OpenAQ logo" />
  </a>
  <h1 class="gradient-title homepage-title">Air Quality Index Hub</h1>
</header>
