<style lang="scss">
  header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 305px;
    height: 80px;
    padding: 1rem;
    z-index: 100; // katex appears to render on top so this help header cover katex
    border-bottom: 1px solid #d4d8dc;
  }
</style>

<header>
  <h1 class="gradient-title homepage-title">Air Quality Index Hub</h1>
</header>
