---
import { reshapeData } from "src/utils/utils.jsx";
import { loadIndices } from "@data/loaders";
import '@assets/styles/pollutants-table.scss';

const data = loadIndices()

const reshapedData = reshapeData(data);
---

<table class="pollutants-table">
  <thead>
    <tr>
      {
        Object.keys(reshapedData[0]).map((key) => (
          <th class="table-headings">{key === "country" ? "" : key}</th>
        ))
      }
    </tr>
  </thead>
  <tbody>
    {
      reshapedData.map((row) => (
        <tr>
          {Object.entries(row).map(([key, value]) => (
            <td>{key === "country" ? value : value ? "✅" : "❌"}</td>
          ))}
        </tr>
      ))
    }
  </tbody>
</table>
