---
import { getCollection, type CollectionEntry } from "astro:content";

import '@assets/styles/sidebar-nav.scss';

const indices = await getCollection("indices");
const pages = await getCollection("pages");

const order = [
  "Introduction",
  "Colors and Symbols",
  "Pollutants",
  "Reporting periods",
  "Methods",
];

const orderedTitles = pages.sort(
  (a, b) =>
    order.indexOf(a.data.title) - order.indexOf(b.data.title)
);

const sortIndicesByName = (
  a: CollectionEntry<"indices">,
  b: CollectionEntry<"indices">
) => a.data.name.localeCompare(b.data.name);
---

<aside class="sidebar">
  <nav class="nav pages-nav">
    <ul>
      {
        orderedTitles.map((o) => (
          <li>
            <a href={o.id === "index" ? "/" : `/${o.id}`}>{o.data.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>

  <nav class="nav indices-nav">
    <h1>Indices</h1>
    <ul>
      {
        indices.sort(sortIndicesByName).map((o) => (
          <li>
            <a href={`/indices/${o.id}`}>{o.data.name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sidebarLinks = document.querySelectorAll(".sidebar .nav li");
    const currentPath = window.location.pathname;

    sidebarLinks.forEach((linkItem) => {
      const link = linkItem.querySelector("a");
      if (link) {
        const href = link.getAttribute("href");

        if (currentPath === href) {
          linkItem.classList.add("sidebar-item--active");
        }

        linkItem.addEventListener("click", () => {
          sidebarLinks.forEach((el) =>
            el.classList.remove("sidebar-item--active")
          );
          linkItem.classList.add("sidebar-item--active");
        });
      }
    });
  });
</script>
