@use "openaq-design-system/scss/resets";
@use "openaq-design-system/scss/mixins/index.scss" as mixins;
@use "openaq-design-system/scss/mixins/typography" as *;
@use "openaq-design-system/scss/utilities/types.scss";
@use "openaq-design-system/scss/variables";

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Light.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

html {
  scroll-padding-top: 80px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.content {
  display: block;
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}

main {
  display: flex;
  padding: 80px 40px 0 20px;
  margin: 0 20px;
  flex: 1;
  overflow-wrap: break-word;

  @media (min-width: 500px) {
    padding: 80px 40px 0 20px;
  }

  @media (min-width: 800px) {
    padding: 80px 40px 0 300px;
  }

  @media (min-width: 900px) {
    padding: 80px 200px 0 300px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid #ddd;
  text-align: left;
}

td {
  padding: 8px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:last-child {
  border-bottom: none;
}

.gradient-title {
  @include mixins.display1;

  background-color: variables.$lavender100;
  background-image: linear-gradient(
    92deg,
    variables.$sky120 0%,
    variables.$lavender100 10%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.color-scale-image {
  width: 900px;
  height: 80px;
}

h2,
h3 {
  a {
    color: variables.$smoke180;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @media (max-width: 1100px) {
    width: 60%;
  }
  @media (max-width: 900px) {
    width: 50%;
  }
}

.hk-icon {
  width: 90px;
}

@media (max-width: 800px) {
  body.menu-open .sidebar {
    display: block;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100;
    padding-top: 1rem;
    padding-bottom: 80px;
  }

  body.menu-open .sidebar h1 {
    padding-left: 0;
    text-align: center;
  }

  body.menu-open .nav {
    margin-bottom: 2rem;
  }

  body.menu-open .nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }

  body.menu-open .nav li {
    width: 100%;
    text-align: center;
  }

  body.menu-open .nav li a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 100%;
  }

  body.menu-open .nav ul > li:first-child > a {
    margin-block-start: 0 !important;
  }
}
