---
import BaseLayout from "@layouts/BaseLayout.astro";
const { pageTitle } = Astro.props;

---

<style lang="scss">
  .content {
    min-height: 100vh;
    width: 800px;
    padding-top: 20px;
    padding-bottom: 160px;
    display: block;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="content">
    <slot />
  </div>
</BaseLayout>
