---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<style lang="scss">
  .content {
    min-height: 100vh;
    width: 900px;
    padding-top: 20px;
    padding-bottom: 150px;
    display: block;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
  }
</style>

<BaseLayout>
  <div class="content">
    <slot />
  </div>
</BaseLayout>
